<div class='navbar navbar-default'>
    <div class='container '>
        <div class="navbar-header">
            <a href='/' class="navbar-brand">
                <img src="images/iaestelogo.jpg" alt="Dispute Bills">
            </a>

            <div class="navbar-brand header-text">
                Iaeste Freiberg
            </div>
            <button type='button' class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <ul class="nav navbar-nav navbar-right navbar-static-top collapse navbar-collapse">
            <li><a href='index.html'>Home</a></li>
            <li><a href='lcfreiberg.html'>Über Uns</a></li>
            <li><a href='incoming.html'>Incoming</a></li>
            <li><a href='outgoing.html'>Outgoing</a></li>
            <li><a href='firmen.html'>Firmen</a></li>
            <li><a href='contact.html'>Kontakt</a></li>
        </ul>
    </div>
</div>