<h2>Praktikum Anbieten</h2>
<p align="justify">Wir hoffen, dass wir Sie von unserer Arbeit, die wir zum Nutzen von Unternehmen, Studierenden und
    Hochschulen seit 50 Jahren leisten, überzeugen können und Sie daran interessiert sind, sich in Zukunft am
    IAESTE-Programm zu beteiligen.<br/> <br/> Sollten Sie weitere Informationen wünschen, so können Sie sich unter info(at)iaeste-freiberg.de and das Lokalkomitee wenden, oder auch direkt an das <a href="http://www.iaeste.de/" target="_blank"><strong>Nationalkomitee</strong></a>
    in Bonn, wenden.<br/> <br/> Falls sich Ihr Unternehmen oder Ihr Institut am Programm der IAESTE beteiligen und einen
    Praktikumsplatz zur Verfügung stellen möchte, so wenden Sie sich bitte direkt an das <a href="http://www.iaeste.de/"
                                                                                            target="_blank"><strong>Nationalkomitee</strong></a>
    in Bonn.<br/> <br/> Sie haben ebenfalls die Möglichkeit, direkt ein <a
            href="http://www.iaeste.de/cms/index.php?id=91" target="_blank"><strong>Onlinestellenangebot</strong></a>
    einzureichen.</p>