<h2>Infos über Deutschland</h2>

<p style="text-align: justify;">Deutschland ist eine der weltweit f&uuml;hrenden Industrienationen im Herzen Europas. Es
    grenzt im Norden an die Nordsee, D&auml;nemark und die Ostsee, im S&uuml;den an &Ouml;sterreich und die Schweiz, im
    Westen an Frankreich, Belgien, die Niederlande und Luxemburg, sowie im Osten an Polen und Tschechien. Das
    Staatsgebiet umfasst mehr als 350.000 Quadratkilometer und wird von 82 Millionen Einwohnern bev&ouml;lkert.<br/>
    Deutschland ist eine parlamentarische Bundesrepublik mit parlamentarischer Demokratie, die aus 16 deutschen L&auml;ndern
    gebildet wird. Die Bundesl&auml;nder sind in bestimmten Bereichen politisch unabh&auml;ngig von der
    Bundespolitik.<br/> Die Bundesrepublik Deutschland ist Mitglied der Vereinten Nationen (UN), der NATO, der
    G8-Nationen und ein Gr&uuml;ndungsmitglied der Europ&auml;ischen Union (EU). </p>
<center><img src="images/bilder/germanflag.JPG" alt="" width="334" border="0"/><br/> <br/>

    <p style="text-align: justify;">Einige von Europas l&auml;ngsten Fl&uuml;ssen flie&szlig;en durch Deutschland, z.B.
        der Rhein, die Donau und die Elbe. Ungef&auml;hr ein Drittel von Deutschland ist von W&auml;ldern bedeckt. Im S&uuml;den
        Deutschlands haben die Berge der Alpen eine H&ouml;henlage von fast 3000 Metern, w&auml;hrend weite Teile
        Norddeutschlands bis zu den K&uuml;sten auf Meeresspiegelh&ouml;he liegen. <br/> <br/> Deutschland geh&ouml;rt
        vollst&auml;ndig zur gem&auml;&szlig;igten Klimazone Mitteleuropas. Im Sommer (Juni-August) liegen die
        Temperaturen in der Regel bei 20-30&deg;C mit l&auml;ngeren trockenen und Regenzeiten. Manchmal k&ouml;nnen die
        Temperaturen 30&deg;C auch deutlich &uuml;berschreiten. Im Winter (November-Februar) liegen die Temperaturen in
        der Regel bei 0-10&deg;C , oft begleitet von Regen oder Schnee. In machen Wintern k&ouml;nnen die Temperaturen
        deutlich unter -10&deg;C fallen. Es gibt wesentlich mehr Schnee in den h&ouml;hergelegenen Regionen Deutschlands
        im Vergleich zum Flachland. <br/> <br/> In Deutschland gibt es eine Vielzahl gro&szlig;er St&auml;dte, die
        beliebtesten sind Berlin (Hauptstadt), Hamburg, M&uuml;nchen und K&ouml;ln mit jeweils mehr als 1 Millionen
        Einwohnern. Es gibt allerdings auch gro&szlig;e Natur- und Naherholungsgebiete. <br/> <br/> Das Christentum ist
        die am weitesten verbreitete Religion in Deutschland und etwa zu gleichen Teilen auf Katholiken und Protestanten
        aufgeteilt. Der Protestantismus ist konzentriert auf den Norden und den Osten, der Katholizismus auf den Westen
        und S&uuml;den des Landes. <br/> <br/> Deutsch ist die offizielle, &uuml;berall gesprochene Landessprache und
        wird nach dem lateinischen Alphabet geschrieben. Das deutsche Alphabet hat drei zus&auml;tzliche Vokale mit
        Umlauten: &auml;, &ouml;, &uuml;. Au&szlig;erdem wird der Buchstabe &szlig; (Eszett, gesprochen wie s) in
        einigen Worten benutzt.<br/> Die meisten j&uuml;ngeren Leute in Deutschland sprechen Englisch, manche auch
        andere europ&auml;ische Sprachen. <br/> <br/> Die W&auml;hrung in Deutschland ist der Euro. 1 Euro wird geteilt
        in 100 Cent. Es ist eine europ&auml;ische W&auml;hrung, die in mehr als 20 L&auml;ndern Europas g&uuml;ltig ist.
        Kreditkarten werden in gr&ouml;&szlig;eren Gesch&auml;ften akzeptiert, allerdings ist Barzahlung &uuml;blich,
        besonders in kleineren Gesch&auml;ften. <br/> <br/> Seit dem Zeitalter der Industrialisierung ist Deutschland
        ein weltweit operierender Wirtschaftspartner und ist heute eine der weltweit gr&ouml;&szlig;ten Exportnationen.
        Die meisten Produkte werden im Bereich der Maschinen- und Anlagenbaus, besonders im Automobilsektor, entwickelt
        und produziert. Viele internationale Firmen haben ihren Hauptsitz in Deutschland.<br/> Durch seine zentrale Lage
        in der Mitte Europas verf&uuml;gt Deutschland &uuml;ber eine sehr gute Infrastruktur f&uuml;r den Transport und
        Energie. Es gibt ein gro&szlig;es Hochgeschwindigkeitsnetz f&uuml;r Z&uuml;ge und viele Autobahnen, die die
        meisten St&auml;dte Deutschlands untereinander und mit den Nachbarl&auml;ndern verbinden. <br/> <br/> Fu&szlig;ball
        ist die popul&auml;rste Sportart in Deutschland. Es gibt viele hochrangige deutsche Fu&szlig;ballteams, die auch
        an internationalen Turnieren teilnehmen. Auch der Motorsport hat viele Fans in Deutschland. <br/> <br/> Die
        deutsche K&uuml;che variiert sehr je nach Region. Im S&uuml;den Deutschlands &auml;hnelt die K&uuml;che der
        traditionellen &ouml;sterreichischen und schweizerischen K&uuml;che. Schweine-, Rind- und Putenfleisch sind die
        meistkonsumierten Fleischsorten in Deutschland. Es gibt viele verschiedene Arten von W&uuml;rsten, die in
        Deutschland produziert werden, genauso wie eine riesige Auswahl an verschiedenen Brotsorten. Die meisten
        Deutschen sind es gewohnt, morgens ein gutes Fr&uuml;hst&uuml;ck, mittags eine gro&szlig;e Mahlzeit und abends
        nur ein paar Butterbrote zu essen. <br/> Obwohl eine gro&szlig;e Menge Wein von hoher Qualit&auml;t in
        Deutschland produziert wird, ist das beliebtste Nationalgetr&auml;nk das Bier. Es gibt Tausende verschiedene
        Arten von Bier in ganz Deutschland, die vielfach nur in bestimmten Regionen erh&auml;ltlich sind. Au&szlig;erdem
        ist mit Kohlens&auml;ure versetztes Mineralwasser (manchmal gemischt mit Saft) ein beliebtes Erfrischungsgetr&auml;nk.
    </p>
    <center>
        <div>Mehr Informationen gibt es auf <a href="http://de.wikipedia.org/wiki/Deutschland" target="__new"><strong>Wikipedia</strong></a>
            und <a href="http://www.tatsachen-ueber-deutschland.de/de/" target="__new"><strong>hier</strong></a></div>
    </center>
</center>