<h2>Versicherung</h2>
<p align="justify">IAESTE-Praktikanten m&uuml;ssen eine Kranken-, Unfall- und private Haftpflichtversicherung f&uuml;r
    die Dauer des Praktikums haben. F&uuml;r Praktikanten in Deutschland wird &uuml;ber das Deutsche Nationalkomitee der
    IAESTE automatisch ein entsprechendes Versicherungspaket abgeschlossen. IAESTE-Praktikanten in Deutschland m&uuml;ssen
    sich also nicht selbst um einen ausreichenden Versicherungsschutz k&uuml;mmern, sofern das Praktikum nicht l&auml;nger
    als 6 Monate dauert. Bei l&auml;ngeren Praktika muss der Praktikant die zus&auml;tzlichen Monate selbst bezahlen
    (23,50 EUR pro Monat). <br/> <br/> Details zu dem Versicherungspaket sind <a
            href="http://www.daad.de/imperia/md/content/versicherung/bedingungen_daad_tarif_720_09.2010.pdf"
            target="_blank"><strong>hier</strong></a> verf&uuml;gbar. <br/> <br/> Wird ein weiterer Versicherungsschutz
    gew&uuml;nscht, muss der Praktikant selbst daf&uuml;r Sorge tragen.</p>