<h2>Deutsch lernen</h2>

<p style="text-align: justify;">You are about to do an internship in Germany and would now like to learn a few words of the local language? An excellent decision! Learning a new language is always rewarding, and just knowing how to order a coffee or a beer, or how to greet your fellow co-workers in their language, gives your self-confidence a boost and makes your time in the host country even more exciting.</p>
<p style="text-align: justify;">On this page we have gathered several links that our trainees have found useful and helpful in the past in learning German. The websites are all free and cover all levels from beginners to advanced, so whether you have never even heard German, or consider yourself a master at it, you will most likely find exercises that are useful for you. We reckon learning a language should be fun and interesting (and not just dull grammar lessons), which is why we have made this list for you!</p>
<h2>Ways to learn German:</h2>
<p><a href="media/downloads/Sprachfuehrer_Deutsch.pdf" target="_blank">Phrase book English-German</a> LC Aachen has made a little English-German phrase book for you</p>
<p><a href="http://stwno.de/joomla/images/wohnheim/Wohnheimwoerterbuch_d_cn_en.pdf" target="_blank">Living at a student dorm - An illustrated dictionary</a> A funny illustrated dictionary for learning useful words that you need on a daily basis</p>
<p><a href="http://www.memrise.com/courses/english/german-2" target="_blank">Memrise</a> Memrise is a great website and very useful in learning vocabulary. Their &lsquo;flash card&rsquo; feature is very effective in memorising words</p>
<p><a href="http://www.dw.de/learn-german/german-courses/s-2547" target="_blank">Deutsche Welle - Learn German</a> A lot of free German courses for all levels. Very comprehensive and versatile</p>
<p><a href="http://www.youtube.com/playlist?list=PL3936178A38BB5F87" target="_blank">&ldquo;German is easy&rdquo; -videos</a> They have subtitles in English and German</p>
<p><a href="http://www.youtube.com/playlist?list=PLB92CD6B288E5DB61" target="_blank">Jojo sucht das Gl&uuml;ck</a> A silly soap opera for people learning German. The language used is pretty simple, and the subtitles are a great help when trying to get a hang of spoken German</p>
<p><a href="http://yourdailygerman.wordpress.com/" target="_blank">Your daily German</a> A blog explaining German words and expressions in detail with plenty of examples. The blog might be more interesting for people who are already a bit more advanced or just really into the German language. The articles are quite long, but really useful</p>
<hr />
<h2>German music:</h2>
<p><strong style="color: inherit; font-size: 24px; font-variant: small-caps; line-height: 36px;">Die &Auml;rtze</strong></p>
<p></p>
<h1><strong>Die Toten Hosen</strong></h1>
<p></p>
<h1><strong>Rammstein</strong></h1>
<p></p>
<h1><strong>Peter Fox</strong></h1>
<p></p>
<h1><strong>Wir sind Helden</strong></h1>
<h1><strong>Sido</strong></h1>
<h1 style="color: #000000;"><strong style="color: inherit;">Materia</strong><strong style="color: inherit;">&nbsp;</strong></h1>
<h1 style="color: #000000;"><strong style="color: inherit;">KIZ</strong></h1>
<h1 style="color: #000000;"><strong style="color: inherit;">Andreas Bourani</strong><strong style="color: inherit;">&nbsp;</strong></h1>
<h1 style="color: #000000;"><strong style="color: inherit;"><strong style="color: inherit;">&nbsp;</strong></strong></h1>
<p><strong style="color: inherit;"></strong></p>
<p>&nbsp;</p>
<h1 style="color: #000000;"><strong style="color: inherit;">&nbsp;</strong></h1>
<p><strong>&nbsp;</strong></p>
<p>&nbsp;</p>
<p></p>