<h2>Wichtige Informationen</h2>
<p align="justify">Diese Seiten enthalten wichtige Informationen f&uuml;r ausl&auml;ndische
    Studenten, die sich f&uuml;r ein IAESTE-Praktikum in Freiberg beworben haben. <br/> <br/> Bei
    IAESTE ist es leider nicht m&ouml;glich, sich direkt bei einem Lokalkomitee auf ein Praktikum zu
    bewerben. Deshalb werden wir keine Bewerbungen aus dem In- und Ausland f&uuml;r Praktika in
    Deutschland bearbeiten. Wer sich f&uuml;r ein Praktikum in Deutschland interessiert, wendet sich
    bitte an das IAESTE-Nationalkomitee im Heimatland.</p>

<p>&nbsp;</p>

<h3>Informationen f&uuml;r IAESTE-Praktikanten in Freiberg</h3>

<p align="justify">Lieber Bewerber!<br/> <br/> Wir freuen uns, dass du dich f&uuml;r ein Praktikum
    in Freiberg beworben hast. Sobald der Arbeitgeber deine Bewerbung akzeptiert hat, steht deinem
    Praktikum nichts mehr im Wege!<br/> Wir sind eine Gruppe von etwa 20 Studenten in Freiberg und
    bilden das IAESTE Lokalkomitee Freiberg. Wir arbeiten ehrenamtlich f&uuml;r IAESTE, weil wir
    sehr interessiert daran sind, Leute aus aller Welt kennenzulernen und auf diesem Wege
    mehr &uuml;ber andere Kulturen und Sprachen zu erfahren &ndash; genau wie du! Aus diesem Grunde
    geben wir alles, um deinen Aufenthalt in Freiberg so angenehm und spa&szlig;ig wie m&ouml;glich
    zu gestalten. Im Rahmen unserer Sommerbetreuung veranstalten wir z.B. verschiedene Ausfl&uuml;ge
    und Events f&uuml;r unsere Praktikanten. W&auml;hrend deines Praktikums hast du die M&ouml;glichkeit,
    wertvolle Erfahrungen f&uuml;r dein Studienfach zu sammeln und neue Dinge zu lernen.
    Gleichzeitig m&ouml;chten wir dir w&auml;hrend deiner Zeit in Deutschland aber auch die deutsche
    Gesellschaft und Kultur n&auml;herbringen. Zusammen mit uns und etwa 15-20 weiteren Praktikanten
    wirst du daher sicherlich eine unvergessliche Zeit in Freiberg verbringen!<br/> <br/> Auf diesen
    Seiten findest du einige wichtige Informationen f&uuml;r deinen Aufenthalt in Freiberg. Solltest
    du weitere Fragen haben, kannst du uns jederzeit <a
            href="mailto:iaeste@tu-freiberg.de?subject=Ich%20komme%20nach%20Freiberg!">kontaktieren</a>.
</p>

<p>&nbsp;</p>

<h3>Erste Schritte nach der Akzeptierung</h3>

<p align="justify">Sobald die Akzeptierungspapiere des Arbeitgebers vorliegen, werden sie dir durch
    das zust&auml;ndige IAESTE-Nationalkomitee zugeschickt. Wenn diese Papiere bei dir ankommen,
    wird es Zeit, ein paar Dinge zu regeln:</p>
<ul>
    <li>
        <p align="justify">Innerhalb von 2 Wochen das Formular N5/b ausf&uuml;llen und an das
            IAESTE-Nationalkomitee im Heimatland zur&uuml;ckschicken (manchmal m&uuml;ssen weitere
            Formulare ausgef&uuml;llt und eingereicht werden). Sobald wir das Formular N5/b erhalten
            haben, k&ouml;nnen wir mit der Suche nach einer Unterkunft f&uuml;r dich beginnen. Es
            ist also sehr wichtig, das N5/b so schnell wie m&ouml;glich zur&uuml;ckzuschicken.</p>
    </li>
    <li>
        <p align="justify">Wenn du kein EU-B&uuml;rger bist, ben&ouml;tigst du zur Einreise nach
            Deutschland ein Visum. Dieses solltest du so schnell wie m&ouml;glich bei der n&auml;chsten
            <a href="http://www.auswaertiges-amt.de/DE/Laenderinformationen/03-WebseitenAV/Uebersicht_node.html">deutschen
                Botschaft </a>beantragen, da die Bearbeitung oft einige Wochen dauert. F&uuml;r den
            Visumantrag ben&ouml;tigst du das Formular N5/a. Bitte erkundige dich bei der deutschen
            Botschaft nach einem &bdquo;Schengen-Visum&ldquo;, da dieses Visum auch in unseren
            Nachbarl&auml;ndern g&uuml;ltig ist.</p>
    </li>
    <li>
        <p align="justify">Stelle sicher, dass dein Pass w&auml;hrend des Praktikums g&uuml;ltig
            ist</p>
    </li>
    <li>
        <p align="justify">Besorge dir den <a
                href="http://www.isic.org/student-card/buy-an-isic.aspx">Internationalen
            Studentenausweis (ISIC)</a></p>
    </li>
    <li>
        <p align="justify">Buche einen Flug nach Deutschland. Weitere Informationen zur Anreise gibt
            es <a href="http://139.20.200.115/incoming.php?page=incarrival">hier</a>. Benachrichtige
            uns bitte, wann du in Deutschland ankommen wirst.</p>
    </li>
</ul>
<p>Weitere Informationen findest du in unserem <a
        href="http://139.20.200.115./incoming.php?page=downloads&amp;documentid=2">Trainee-Guide</a>.<br/>
    <br/></p>