<h2>Allgemeines über Iaeste</h2>

<h3>IAESTE in K&uuml;rze</h3>
<ul>
    <li>Weltweiter Praktikantenaustausch</li>
    <li>Weltweit etwa 80 Mitgliedsl&auml;nder</li>
    <li>In Deutschland Teil des DAAD</li>
    <li>J&auml;hrlich etwa 1200 getauschte Praktikumspl&auml;tze f&uuml;r Deutschland</li>
    <li>Betreuung erfolgt an den Universit&auml;ten zumeist ehrenamtlich durch Studenten</li>
    <li>Anzahl angebotener Praktikumspl&auml;tze = Anzahl erhaltener Praktikumspl&auml;tze</li>
</ul>
<table style="width: 100%;" border="0" cellspacing="0" cellpadding="0">
    <tbody>
    <tr>
        <td><img src="images/iaestelogo.jpg" alt="IAESTE Banner" border="0"/></td>
        <td><br/>

            <h3>Was ist IAESTE ?</h3>

            <p align="justify">Die <strong>I</strong>nternational <strong>A</strong>ssociation for the
                <strong>E</strong>xchange of <strong>S</strong>tudents for <strong>T</strong>echnical <strong>E</strong>xperience,
                kurz IAESTE, ist eine internationale, unpolitische, unabh&auml;ngige Organisation zur Vermittlung von
                Praktikumspl&auml;tzen im Ausland.</p>
            <br/>

            <h3>IAESTE Historie</h3>

            <p align="justify">IAESTE wurde im Jahr 1948 in London gegr&uuml;ndet und hat bisher weltweit schon &uuml;ber
                300.000 Studenten in mehr als 85 L&auml;nder vermittelt. Die Bundesrepublik Deutschland ist seit 1950
                Mitglied im IAESTE-Programm und wird vertreten durch den Deutschen Akademischen Austauschdienst
                (DAAD).</p>
        </td>
    </tr>
    </tbody>
</table>
<h3>IAESTE Organisationsstruktur</h3>
<p align="justify">In jedem Mitgliedsland gibt es ein Nationalkomitee (NC) und viele Lokalkomitees (LC) an den
    Hochschulen. In Deutschland ist das Nationalkomitee durch ein Referat des <a href="http://www.daad.de"
                                                                                 target="_blank">Deutschen Akademischen
        Austauschdientes (DAAD)</a> repr&auml;sentiert. IAESTE wird durch das Bundesministerium f&uuml;r Bildung und
    Wissenschaft sowie das Ausw&auml;rtige Amt unterst&uuml;tzt. Vor Ort werden die Lokalkomitees von engagierten
    Studenten der jeweiligen Hochschulen gebildet. Wo dies nicht m&ouml;glich ist, nehmen die Akademischen Auslands&auml;mter
    die Aufgaben von IAESTE wahr.</p>
<p>&nbsp;</p>
<h3>Aufgaben von IAESTE</h3>
<p align="justify">Die Lokalkomitees (LC) nehmen zum einen die Bewerbungen f&uuml;r Auslandspraktika entgegen. Die
    Vermittlung dieser Praktika, die in der Regel zwischen 8 und 12 Wochen lang sind, erfolgt selbstverst&auml;ndlich
    unentgeltlich. Zum anderen betreuen die LC's auch die ausl&auml;ndischen Studenten vor Ort. Dies schlie&szlig;t z.B.
    Zimmersuche, Beh&ouml;rdeng&auml;nge sowie Freizeitprogramm ein.</p>
<!--<div class="centerspan">
<a href="http://www.iaeste.org/"><img src="http://www.iaeste.org/images/banner.gif" width="468" height="60" alt="IAESTE Banner"></a>
</div>-->
<p>&nbsp;</p>
<h3>Ziel von IAESTE</h3>
<p align="justify">IAESTE Praktika sollen Studierenden der Ingenieur- und Naturwissenschaften, der Land- und
    Forstwirtschaften einen besseren Praxisbezug vermitteln und einen Einblick in das Leben, die Kultur und die
    Denkweise anderer Kulturen und Menschen gew&auml;hren.</p>