<h2>Mitmachen lohnt sich!</h2>

<p>Abwechslung vom Studium, verantwortungsvolle Aufgaben die Spa&szlig; machen, internationale Freunde oder das Auffrischen von Fremdsprachenkenntnissen - es gibt vielf&auml;ltige Gr&uuml;nde, bei uns mitzumachen! Egal aus welchem Fachbereich ihr kommt - jeder ist herzlichst willkommen, bei uns vorbeizuschauen und - wenn es euch gef&auml;llt - dabeizubleiben. Kommt einfach vorbei. Wir treffen uns jede Woche Mittwoch. 9 3/4 Gr&uuml;nde warum ihr bei uns mitmachen solltet.</p>
<p>1 Abwechslung vom Studium </p>
<p>2 Auslandsaufenthalte </p>
<p>3 Internationale Kontakte </p>
<p>4 Fremde Kulturen kennen lernen  </p>
<p>5 Soziale Kompetenzen</p>
<p>6 Kostenfreie Weiterbildungsangebote  </p>
<p>7 Fremdsprachen aktiv nutzen </p>
<p>8 Kreativit&auml;t ausleben </p>
<p>9 Verantwortung &uuml;bernehmen </p>
<p>9 3/4 Es macht einfach SPASS.</p>
<p>&nbsp;</p>