<h2>Iaeste Lokalkomitee Freiberg</h2>
<p align="justify">Das Lokalkomitee Freiberg ist eines von &uuml;ber 80 Lokalkomitees in Deutschland. Seit 20 Jahren betreuen wir Studenten aus aller Welt, die ein Praktikum im Ausland machen m&ouml;chten. Wenn auch ihr Interesse habt ins Ausland zu gehen, dann schreibt uns gerne oder kommt einfach zu einem unserer w&ouml;chentlichen Treffen.&nbsp;</p>
<p align="justify">&nbsp;</p>
<p style="margin-bottom: 0px; font-size: 18px; font-family: Helvetica;"><span style="letter-spacing: 0px;"><img src="images/Gruppenfoto.jpg" style="width:100%" alt="" /></span></p>
<p><span style="letter-spacing: 0px;"></span></p>
<p>&nbsp;</p>
<div style="width: 100%;" align="center">
    <table style="width: 95%;">
        <tbody>
        <tr>
            <td>&nbsp;</td>
        </tr>
        </tbody>
    </table>
</div>
<p>&nbsp;</p>
<p>&nbsp;</p>