
* {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
}

body {
	text-align: left;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

h1, h2, h3, h4 {
	font-family: Georgia, Verdana, Arial, Helvetica, sans-serif;
	font-variant: small-caps;
}

h1 {
	font-size: 24px;
	font-weight: normal;
}

h2 {
	font-size: 20px;
	font-weight: normal;
}

h3 {
	font-size: 16px;
	font-weight: normal;
}

h4 {
	font-size: 14px;
	font-weight: normal;
}

h5, h6 {
	font-size: 12px;
	font-weight: bold;
}

img {
	border: none;
}

.sectionbox {
	background-image: url("box.png");
	background-repeat: no-repeat;
	width: 561px;
	min-height: 60px;
	text-align: left;
	margin: auto;
}

.centerspan {
	text-align: center;
	width: 100%;
}
