<h3>Praktikum</h3>

<div class="row">
    <div class="col-xs-6">
        <h4>Ich habe bereits praktische Erfahrung</h4>

        <div class="form-group" show-errors='{showSuccess: true}'>
            <label class="radio-inline" for="yesRadio">Ja</label>
            <input name="yesRadio" id="yesRadio" type="radio" ng-model="student.praktischeErfahrung"
                   value="ja"/>

            <label class="radio-inline" for="noRadio">Nein</label>
            <input name="noRadio" id="noRadio" type="radio" ng-model="student.praktischeErfahrung"
                   value="nein"/>
        </div>
    </div>
    <div class="col-xs-6">
        <h4>Ich habe bereits ein Iaeste Prkatikum absolviert</h4>

        <div class="form-group" show-errors='{showSuccess: true}'>
            <label class="radio-inline" for="yesRadio">Ja</label>
            <input name="yesRadio" id="yesRadio" type="radio" ng-model="student.praktikumAbsolviert"
                   value="ja"/>

            <label class="radio-inline" for="noRadio">Nein</label>
            <input name="noRadio" id="noRadio" type="radio" ng-model="student.praktikumAbsolviert"
                   value="nein"/>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-6">
        <div class="form-group" show-errors='{showSuccess: true}'>
            <label class="control-label">gewünschte Dauer</label>
            <input placeholder="4-52 (Wochen)" ng-model="student.gewuenschteDauer" type="text" class="form-control" name="gewuenschteDauer"
                   required/>

            <p class="help-block" ng-if="studentForm.gewuenschteDauer.$error.required">Bitte gib in Wochen an, wie lange dein Praktikum dauern soll.</p>
        </div>
    </div>
    <div class="col-xs-6">
        <div class="form-group" show-errors='{showSuccess: true}'>
            <label class="control-label">gewünschter Zeitraum</label>
            <input placeholder="Janur-Dezember" ng-model="student.gewuenschterZeitraum" type="text" class="form-control"
                   name="gewuenschterZeitraum"
                   required/>

            <p class="help-block" ng-if="studentForm.gewuenschterZeitraum.$error.required">Please enter a title
                for your
                event</p>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-6">
        <div class="form-group" show-errors='{showSuccess: true}'>
            <label class="control-label">Interessen bzgl. Praktikum</label>
            <input ng-model="student.interessenPraktikum" type="text" class="form-control" name="interessenPraktikum"
                   />
        </div>
    </div>
    <div class="col-xs-6">
    </div>
</div>

<form-button></form-button>