<h3>Praktikum</h3>

<div class="row">
    <div class="col-xs-6">
        <h4>Englisch</h4>

        <div class="form-group" show-errors='{showSuccess: true}'>
            <label class="radion-inline" for="exellentRadio">Exellent:</label>
            <input name="exellentRadio" id="exellentRadio" type="radio" ng-model="student.languageEnglish"
                   value="exellent"/>

            <label class="radion-inline" for="goodRadio">Good:</label>
            <input name="goodRadio" id="goodRadio" type="radio" ng-model="student.languageEnglish"
                   value="good"/>

            <label class="radion-inline" for="fairRadio">Fair:</label>
            <input name="fairRadio" id="fairRadio" type="radio" ng-model="student.languageEnglish"
                   value="fair"/>

            <label class="radion-inline" for="noneRadio">None:</label>
            <input name="noneRadio" id="noneRadio" type="radio" ng-model="student.languageEnglish"
                   value="none"/>

            <p class="help-block" ng-if="studentForm.studiengang.$error.required">Please enter a title for your
                event</p>
        </div>
    </div>
    <div class="col-xs-6">
        <h4>Spanisch</h4>

        <div class="form-group" show-errors='{showSuccess: true}'>
            <label class="radion-inline" for="exellentRadio">Exellent:</label>
            <input name="exellentRadio" id="exellentRadio" type="radio" ng-model="student.languageSpanish"
                   value="exellent"/>

            <label class="radion-inline" for="goodRadio">Good:</label>
            <input name="goodRadio" id="goodRadio" type="radio" ng-model="student.languageSpanish"
                   value="good"/>

            <label class="radion-inline" for="fairRadio">Fair:</label>
            <input name="fairRadio" id="fairRadio" type="radio" ng-model="student.languageSpanish"
                   value="fair"/>

            <label class="radion-inline" for="noneRadio">None:</label>
            <input name="noneRadio" id="noneRadio" type="radio" ng-model="student.languageSpanish"
                   value="none"/>

            <p class="help-block" ng-if="studentForm.studiengang.$error.required">Please enter a title for your
                event</p>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-6">
        <div class="form-group" show-errors='{showSuccess: true}'>
            <label class="control-label">Studiengang</label>
            <input ng-model="student.studiengang" type="text" class="form-control" name="studiengang"
                   required/>

            <p class="help-block" ng-if="studentForm.studiengang.$error.required">Please enter a title for your
                event</p>
        </div>
    </div>
    <div class="col-xs-6">
        <div class="form-group" show-errors='{showSuccess: true}'>
            <label class="control-label">Vertiefungsrichtung</label>
            <input ng-model="student.vertiefungsrichtung" type="text" class="form-control"
                   name="vertiefungsrichtung"
                   required/>

            <p class="help-block" ng-if="studentForm.vertiefungsrichtung.$error.required">Please enter a title
                for your
                event</p>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-6">
        <div class="form-group" show-errors='{showSuccess: true}'>
            <label class="control-label">Studiengang</label>
            <input ng-model="student.studiengang" type="text" class="form-control" name="studiengang"
                   required/>

            <p class="help-block" ng-if="studentForm.studiengang.$error.required">Please enter a title for your
                event</p>
        </div>
    </div>
    <div class="col-xs-6">
    </div>
</div>