<h2>Sonstiges</h2>

<div class="row">
    <div class="col-xs-12">
        <div class="form-group" show-errors='{showSuccess: true}'>
            <label class="control-label">Motivation (warum willst du weg?)</label>
            <textarea class="form-control" name="motivation" rows="8" ng-model="student.motivation"
                    ></textarea>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="form-group" show-errors='{showSuccess: true}'>
            <label class="control-label">Anmerkungen</label>
            <textarea class="form-control" name="anmerkung" rows="8" ng-model="student.anmerkung"
                    ></textarea>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-6">
        Ich weiß, dass es sich lediglich um eine vorläufige Bewerbung handelt. Die Hinweise auf der Homepage habe ich
        gelesen.
    </div>
    <div class="col-xs-6">
        <div class="form-group" show-errors='{showSuccess: true}'>
            <div class="checkbox">
                <label><input name="check_read" ng-model="student.check_read" type="checkbox" value="ja"
                              required>Ja</label>
            </div>
            <p class="help-block" ng-if="studentForm.check_read.$error.required">Bitte mache ein Häckchen, wenn du die
                Infos gelesen hast.</p>
        </div>
    </div>

</div>
<br><br>
<div class="row">
    <div class="col-xs-12">
        <!-- <div class="form-group" show-errors='{showSuccess: true}'>
             <div name="captcha" re-captcha ng-model="student.captcha">
             </div>-->
    </div>
</div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="form-group">
            <button class="btn btn-lg btn-primary" ng-click="lastForm()">Zurück
            </button>
            <button class="btn btn-lg btn-success" ng-click="save()">Absenden
            </button>
        </div>
    </div>
</div>

