<h3>Zu deinem Studium</h3>
</div>
<div class="row">
    <div class="col-xs-6">
        <div class="form-group" show-errors='{showSuccess: true}'>
            <label class="control-label">Studiengang</label>
            <input ng-model="student.studiengang" type="text" class="form-control" name="studiengang"
                   required/>

            <p class="help-block" ng-if="studentForm.studiengang.$error.required">Please enter a title for your
                event</p>
        </div>
    </div>
    <div class="col-xs-6">
        <div class="form-group" show-errors='{showSuccess: true}'>
            <label class="control-label">Vertiefungsrichtung</label>
            <input ng-model="student.vertiefungsrichtung" type="text" class="form-control"
                   name="vertiefungsrichtung"
                   required/>

            <p class="help-block" ng-if="studentForm.vertiefungsrichtung.$error.required">Please enter a title
                for your
                event</p>
        </div>
    </div>

</div>
<div class="row">
    <div class="col-xs-6">
        <div class="form-group" show-errors='{showSuccess: true}'>
            <label class="control-label">Studiengang</label>
            <input ng-model="student.studiengang" type="text" class="form-control" name="studiengang"
                   required/>

            <p class="help-block" ng-if="studentForm.studiengang.$error.required">Please enter a title for your
                event</p>
        </div>
    </div>
    <div class="col-xs-6">
        <div class="form-group" show-errors='{showSuccess: true}'>
            <label class="control-label">Vertiefungsrichtung</label>
            <input ng-model="student.vertiefungsrichtung" type="text" class="form-control"
                   name="vertiefungsrichtung"
                   required/>

            <p class="help-block" ng-if="studentForm.vertiefungsrichtung.$error.required">Please enter a title
                for your
                event</p>
        </div>
    </div>

</div>

<form-button></form-button>
