<h3>Länderwünsche</h3>
<div class="row">
    <div class="col-xs-6">
        <h4>Egal, hauptsache weg</h4>

        <div class="form-group" show-errors='{showSuccess: true}'>
            <label class="radio-inline" for="sofortEgal">sofort!</label>
            <input name="sofortEgal" id="sofortEgal" type="radio" ng-model="student.landEgal"
                   value="sofort"/>

            <label class="radio-inline" for="gerneEgal">gerne</label>
            <input name="gerneEgal" id="gerneEgal" type="radio" ng-model="student.landEgal"
                   value="gerne"/>

            <label class="radio-inline" for="nichtGerneEgal">nicht so gerne</label>
            <input name="nichtGerneEgal" id="nichtGerneEgal" type="radio" ng-model="student.landEgal"
                   value="nichtGerne"/>
        </div>
    </div>
    <div class="col-xs-6">
        <h4>Europa</h4>

        <div class="form-group" show-errors='{showSuccess: true}'>
            <label class="radio-inline" for="sofortEuropa">sofort!</label>
            <input name="sofortEuropa" id="sofortEuropa" type="radio" ng-model="student.landEuropa"
                   value="sofort"/>

            <label class="radio-inline" for="gerneEuropa">gerne</label>
            <input name="gerneEuropa" id="gerneEuropa" type="radio" ng-model="student.landEuropa"
                   value="gerne"/>

            <label class="radio-inline" for="nichtGerneEuropa">nicht so gerne</label>
            <input name="nichtGerneEuropa" id="nichtGerneEuropa" type="radio" ng-model="student.landEuropa"
                   value="nichtGerne"/>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-6">
        <h4>Nord- und Südamerika</h4>

        <div class="form-group" show-errors='{showSuccess: true}'>
            <label class="radio-inline" for="sofortAmerika">sofort!</label>
            <input name="sofortAmerika" id="sofortAmerika" type="radio" ng-model="student.landAmerika"
                   value="sofort"/>

            <label class="radio-inline" for="gerneAmerika">gerne</label>
            <input name="gerneAmerika" id="gerneAmerika" type="radio" ng-model="student.landAmerika"
                   value="gerne"/>

            <label class="radio-inline" for="nichtGerneAmerika">nicht so gerne</label>
            <input name="nichtGerneAmerika" id="nichtGerneAmerika" type="radio" ng-model="student.landAmerika"
                   value="nichtGerne"/>
        </div>
    </div>
    <div class="col-xs-6">
        <h4>Asien</h4>

        <div class="form-group" show-errors='{showSuccess: true}'>
            <label class="radio-inline" for="sofortAsien">sofort!</label>
            <input name="sofortAsien" id="sofortAsien" type="radio" ng-model="student.landAsien"
                   value="sofort"/>

            <label class="radio-inline" for="gerneAsien">gerne</label>
            <input name="gerneAsien" id="gerneAsien" type="radio" ng-model="student.landAsien"
                   value="gerne"/>

            <label class="radio-inline" for="nichtGerneAsien">nicht so gerne</label>
            <input name="nichtGerneAsien" id="nichtGerneAsien" type="radio" ng-model="student.landAsien"
                   value="nichtGerne"/>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-6">
        <h4>Afrika</h4>

        <div class="form-group" show-errors='{showSuccess: true}'>
            <label class="radio-inline" for="sofortAfrika">sofort!</label>
            <input name="sofortAfrika" id="sofortAfrika" type="radio" ng-model="student.landAfrika"
                   value="sofort"/>

            <label class="radio-inline" for="gerneAfrika">gerne</label>
            <input name="gerneAfrika" id="gerneAfrika" type="radio" ng-model="student.landAfrika"
                   value="gerne"/>

            <label class="radio-inline" for="nichtGerneAfrika">nicht so gerne</label>
            <input name="nichtGerneAfrika" id="nichtGerneAfrika" type="radio" ng-model="student.landAfrika"
                   value="nichtGerne"/>
        </div>
    </div>
    <div class="col-xs-6">
    </div>
</div>
<div class="row">
    <div class="col-xs-6">
        <div class="form-group" show-errors='{showSuccess: true}'>
            <label class="control-label">Wunschländer</label>
            <input ng-model="student.landWunsch" type="text" class="form-control" name="landWunsch"
                   />
        </div>
    </div>
    <div class="col-xs-6">
        <div class="form-group" show-errors='{showSuccess: true}'>
            <label class="control-label">Folgende Länder kommen nicht in Betracht</label>
            <input ng-model="student.landNein" type="text" class="form-control"
                   name="landNein"
                   />
        </div>
    </div>
</div>
<form-button></form-button>

