<h2>Onlinebewerbung</h2>

<outgoing-onlinebewerbung-form></outgoing-onlinebewerbung-form>

<h3>Bitte beachtet diese Hinweise!</h3>

Es handelt sich um eine vorläufige Bewerbung, die lediglich deine Absicht ausdrückt, ein Praktikum bei IAESTE machen zu wollen. Ein Anspruch auf einen Platz entsteht nicht!

Du kannst von der vorläufigen Bewerbung jederzeit zurücktreten. Dies ist allerdings nicht mehr möglich, wenn du einen Platz verbindlich angenommen habe. Dann ist ein Rücktritt nur noch mit nachzuweisenden schwerwiegenden Gründen möglich.

Kosten, die im Laufe des Praktikums auf dich zukommen (Visum, Reisekosten, Impfungen) musst du selbst zahlen. Du kannst aber einen Antrag auf Fahrtkostenzuschuss stellen.

