<h2>Betreuung</h2>
<p class="vspace">in Deutschland:</p>
<ul>
    <li>Betreuung während der gesamten Bewerbungsphase</li>
    <li>Vermittlung der Praktikumsplätze</li>
    <li>Hilfe bei Bewerbungsunterlagen</li>
</ul>
<p class="vspace">im Gastland:</p>
<ul>
    <li>Organisation der Unterkunft</li>
    <li>ggf. Abholung bei Anreise</li>
    <li>ggf. Abholung und Begleitung am ersten Arbeitstag</li>
    <li>Organisation eines Freizeitprogramms</li>
    <li>Hilfestellung/Ansprechpartner bei (fast) allen Angelegenheiten</li>
</ul>