<h3>Infos für Studierende</h3>
<p align="justify">Das IAESTE Lokalkomitee Freiberb vermittelt Fachpraktika im Ausland für <strong>Studierende der
    TU </strong> in allen technischen und naturwissenschaftlichen Fachrichtungen. Es gibt sowohl Plätze in der
    Industrie als auch an Forschungsinstituten. Die meisten IAESTE-Praktika dauern etwa 2-3 Monate und finden oft in den
    Sommermonaten statt. Die Praktika werden grundsätzlich bezahlt; der Verdienst richtet sich dabei nach den
    landestypischen Lebenshaltungskosten. IAESTE übernimmt für die Praktikanten die Wohnungssuche und erledigt alle
    notwendigen Formalitäten. Dieser Service ist für in Deutschland eingeschriebene Studenten kostenlos. Ermöglicht wird
    dies durch die Eingliederung des IAESTE-Programms in den Deutschen Akademischen Austauschdienst (DAAD).</p>
<center><br/> <br/> </center>
<h3>Wie kann ich ein Praktikum über IAESTE bekommen?</h3>
<p align="justify">Zunächst einmal müsst Ihr entweder das Vordiplom abgeschlossen bzw. das dritte Fachsemester im
    Bachelor-/Masterstudiengang abgeschlossen haben. Ist diese Bedingung erfüllt, gibt es grundsätzlich zwei
    Möglichkeiten, ein Praktikum über IAESTE vermittelt zu bekommen:</p>
<p><br/> <strong>1.) Das reguläre Bewerbungsverfahren</strong></p>
<p align="justify">Durch Abgabe einer Online-Vorabbewerbung wird jeder Interessent in den Bewerberpool aufgenommen.
    Diese Vorbewerbung kann ab September eingereicht werden. Nur Studenten der TU Bergakademie Freiberg können sich bei uns um
    ein Praktikum bewerben. Alle anderen wenden sich bitte an das LC in ihrem Studienort. Abhängig von den angegebenen
    Randbedingungen (Länderwünsche, Zeitraum, Qualifizierungen) wird dann jedem Interessenten ein Platz angeboten. Da
    wir in Freiberg jährlich etwa 30 bis 40 Plätze zur Verfügung haben und die Anzahl der Bewerber bei ca. 100 liegt,
    werden auf einen Platz bis zu vier Bewerber gesetzt. Bei mehreren Zusagen entscheiden wir dann anhand der
    Vorbewerbungen über die endgültige Platzvergabe. <br/> Die Deadline für die Abgabe einer Vorbewerbung ist jedes Jahr
    am 30. November. Die vermittelten Praktika finden dann im darauffolgenden Jahr (meist in den Sommermonaten)
    statt.<br/> Der Ablauf des regulären Bewerbungsverfahrens wird im Detail<a
            href="index.php?option=com_content&amp;view=article&amp;id=13&amp;Itemid=122"><strong> hier </strong></a>beschrieben.
</p>
<p><strong>2.) Direktbewerbung für Restplätze</strong></p>
<p align="justify">Im regulären Bewerbungsverfahren bleiben nach der ersten Platzvergabe oft Plätze übrig, die mitunter
    recht interessant sind. Diese Restplätze werden im sogenannten Nachtauschverfahren vergeben. Dabei spielt die Abgabe
    einer Vorbewerbung keine Rolle mehr. Die entsprechenden Termine werden über unseren Newsletter angekündigt bzw. auf
    der Homepage veröffentlicht.<br/> <br/> Außerdem gibt immer mal wieder Plätze, die für das letzte
    Bewerbungsverfahren zu spät und das folgende zu früh eingereicht wurden. Diese nennen sich Early Offers bzw. Late
    Offers und sind oft kurzfristig zu besetzen. Wenn wir so einen Platz vom IAESTE Nationalkomitee bekommen, schicken
    wir ebenfalls eine Nachricht über unseren Newsletter und ihr könnt sie unter <a
            href="index.php?option=com_content&amp;view=article&amp;id=21&amp;Itemid=134"><strong>Aktuelle
        Angebote</strong></a> einsehen. Bei Interesse an einem solchen Praktikumsplatz solltet Ihr uns möglichst schnell
    Bescheid geben, damit wir den entsprechenden Platz für Euch reservieren können.<br/> <br/> Schließlich existiert
    noch eine internationale IAESTE-Datenbank, in der ebenfalls kurzfristig zu besetzende Praktikumsplätze verzeichnet
    sind. Diese Plätze findet ihr ebenfalls in unseren <a
            href="index.php?option=com_content&amp;view=article&amp;id=21&amp;Itemid=134"><strong>aktuellen
        Angeboten.</strong></a> Auf diese Plätze kann weltweit zugegriffen werden und sie können schnell anderweitig
    vergeben sein. Bitte beachtet auch, dass diese Liste aus Datenschutzgründen nicht alle Informationen enthält. Sie
    wird regelmäßig aktualisiert, bei häufigen Besuchen hilft also ein Klick auf "Aktualisieren" bzw. "Neu laden". Für
    weitere Informationen bzw. bei Interesse an einem Platz schickt uns bitte eine Mail! Dann können wir versuchen, den
    Platz für Euch zu reservieren.</p>
<h3>Vorteile eines IAESTE-Praktikums</h3>
<p align="justify">IAESTE-Plätze haben folgende Vorteile:</p>
<ul>
    <li>keine aufwändige Suche nach einem Praktikumsplatz</li>
    <li>Erleichterung bei Formalitäten (Arbeitserlaubnis, Visum, etc.)</li>
    <li>Unterkunft wird in der Regel organisiert</li>
    <li>Betreuung durch das LC vor Ort (Ausflüge, Parties, etc.)</li>
    <li>Bezahlung deckt in der Regel die landestypischen Lebenshaltungskosten</li>
    <li>ggf. Fahrtkostenzuschuss für die Reisen in außereuropäische Länder</li>
</ul>
<h3>Was wir sonst noch bieten</h3>
<table style="width: 100%;" border="0" cellspacing="0" cellpadding="0">
    <tbody>
    <tr>
        <td>
            <ul>
                <li>Hilfe bei Euren eigenen Bewerbungen</li>
                <li>Erfahrungsberichte früherer IAESTE-Outgoer</li>
                <li>Hilfe bei Fragen zur Praktikumsvorbereitung</li>
                <li>Anträge für den Fahrtkostenzuschuß in außereuropäische Länder (Kommt dafür bitte mindestens 2 bis
                    3Monate vor dem voraussichtlichen Beginn des Praktikums zu uns !)
                </li>
            </ul>
        </td>
        <td></td>
    </tr>
    </tbody>
</table>