<h2>Bewerbungsverfahren</h2>
<h3>Voraussetzungen</h3>
<ul>
    <li>immatrikulierter Student einer deutschen Hochschule mit Vordiplom (bei Praktikumsantritt)</li>
    <li>das 30. Lebensjahr sollte nicht vollendet sein</li>
    <li>Englischkenntnisse</li>
    <li>weitere Anforderungen wie Fremdsprachen und Fachgebiete legt der Arbeitgeber fest</li>
</ul>
<h3>Ablauf</h3>
<p class="vspace">Genaueres erfahrt ihr bei unseren Infoveranstaltungen.<br clear="all" />
    Termine:</p>
<table border="0" width="100%">
    <tbody>
    <tr>
        <td align="left" valign="top"><strong>Zeitraum</strong></td>
        <td><strong>Was ist zu tun?</strong></td>
    </tr>
    <tr>
        <td align="left" valign="top">November</td>
        <td>Für ein Praktikum im Sommer bewerbt ihr euch im Vorjahr erstmal unverbindlich ab Beginn des Wintersemesters bis 30. November über unser <a class="urllink" href="outgoing.html" rel="nofollow" title="Onlineformular Vorabbewerbung"><strong>Onlineformular</strong></a>. Hier gebt ihr eure Studienrichtung, Praktikumswünsche etc. an. Das dient zur Einschätzung welche Praktikumsplätze benötigt werden.</td>
        <!-- <a target="_blank" class="urllink" href="http://www.tu-chemnitz.de/stud/studium/iaeste/onlbew/bewerbung.php?lc=dresden" rel="nofollow" title="Onlineformular wird im Oktober aktiviert"><strong>Onlineformular</strong></a>-->
    </tr>
    <tr>
        <td align="left" valign="top">Januar</td>
        <td>Auf der General Conference werden weltweit alle IAESTE-Praktikumsplätze untereinander getauscht.</td>
    </tr>
    <tr>
        <td align="left" valign="top">Februar</td>
        <td>Auf der Nationalen Tauschkonferenz werden dann alle Plätze für Deutschland auf die verschiedenen Lokalkomitees verteilt, wobei hier eure Wünsche berücksichtigt werden.Anschließend werden die Plätze vergeben. Dazu verfasst ihr ein Motivationsschreiben auf euren Wunschplatz, der uns als Entscheidungskriterium dient.Bei Erfolg kommt ihr zu einer weiteren Infoveranstaltung zum Bewerbungsprozedere und fertigt eure Bewerbung an.</td>
    </tr>
    <tr>
        <td align="left" valign="top">März</td>
        <td>Anfang des Monats findet der Nachtausch statt. Hier werden alle nicht vergebenen Plätze nochmal unter den LCs verteilt.Diejenigen, die keinen Platz bekommen haben bzw. die Anmeldefrist im November verpasst haben, bekommen hier die Chance auf einen Platz.Ende März gebt ihr alle Bewerbungsunterlagen bei uns ab. Am 31.März müssen die Unterlagen im Ausland vorliegen.</td>
    </tr>
    <tr>
        <td align="left" valign="top">April/Mai</td>
        <td>Es sind oft noch einige Restplätze (Poolliste) zu vergeben. Für diese gelten gesonderte Bewerbungsdeadlines.Ansonsten heißt es warten auf eine Zu-/Absage durch den Arbeitgeber.</td>
    </tr>
    <tr>
        <td align="left" valign="top">Juni/Juli</td>
        <td>Bei einer Zusage kontaktiert ihr jetzt den Arbeitgeber und IAESTE im Ausland um weitere Fragen u klären.Diverse Dinge sind vor Abreise zu erledigen: Impfungen, Visum, Versicherung, Flug buchen, evtl. Konto mit Kreditkarte beantragen usw.</td>
    </tr>
    <tr>
        <td align="left" valign="top">Juli-Oktober</td>
        <td>In diesem Zeitraum finden die meisten Praktika statt.Genießt die Zeit im Ausland!</td>
    </tr>
    <tr>
        <td align="left" valign="top">Ab Oktober</td>
        <td>Nach Beendigung des Praktikums verfasst ihr für uns einen Praktikumsbericht und füllt den Trainee's Report aus.</td>
    </tr>
    </tbody>
</table>