<h2>Bezahlung</h2>
<p class="vspace">Die Praktika werden vom Arbeitgeber vor Ort so bezahlt, dass die Lebenshaltungskosten im jeweiligen
    Land gedeckt sein sollten (Unterkunft und Lebensmittel). Die Auszahlung erfolgt eigentlich immer in bar und gegen
    Ende des Monats. Reisekosten und Reisevorbereitungskosten (Visum, Impfungen, Versicherung etc.) müssen selbst
    getragen werden, wobei es für die Reisekosten außerhalb der EU die Möglichkeit der <a rel="nofollow"
                                                                                          href="http://www.iaeste.de/cms/index.php?id=92"
                                                                                          class="urllink"
                                                                                          target="_blank"><strong>Bezuschussung</strong></a>
    gibt.</p>