<h2>Unterlagen</h2>
<p class="vspace">Folgende Unterlagen sind in englisch und in 3-facher Ausfertigung einzureichen: <a href="http://www.iaeste.de/cms/index.php?id=51" target="_blank" rel="nofollow" class="urllink">(Downloads siehe <strong>iaeste.de</strong>)</a></p>
<ol>
    <li>O-Form = Original Angebotsformular zum Praktikumsplatz. (wird euch bei der 2. Infoveranstaltung gegen eine Kaution von 50,-€ ausgehändigt)</li>
    <li>Student Nominated = Angaben zu euch und dem Zeitraum des Praktikums</li>
    <li>Anschreiben an den Arbeitgeber</li>
    <li>Lebenslauf</li>
    <li>List of Subjects/Transcript of Records = Notenliste bzw. Liste belegter Fächer (kann vom kostenlosen Übersetzungsservice der TU Dresden angefertigt werden, wenn ein Originaldokument (Vordiplom, bestätigter Notenausdruck vom Prüfungsamt) vorliegt)</li>
    <li>List of previous Practical Training = Liste aller abgeleisteter Praktika mit Sitz und Name der Firma, Dauer und Tätigkeitsfeldern</li>
    <li>2 Passbilder = es müssen keine Bewerbungsbilder oder Reisepassbilder sein!</li>
    <li>Immabescheinigung (1 Original, 2 Kopien)</li>
    <li>Kopie des Reisepasses</li>
</ol>