<h2>Aktuelle Angebote</h2>
<p class="vspace">Hier k&ouml;nnt ihr die aktuellen Praktikaangebote sehen, die uns in unregelm&auml;&szlig;igen Abst&auml;nden
    erreichen. Wenn Euch ein Platz interessiert bzw. ihr n&auml;here Infos haben m&ouml;chtet, dann schreibt uns eine<a
            href="index.php?option=com_content&amp;view=article&amp;id=19&amp;Itemid=130&amp;lang=de"> <span
            class="wikilink"><strong>Mail</strong></span> </a>oder kommt zu unseren <a
            href="index.php?option=com_content&amp;view=article&amp;id=8&amp;Itemid=115"><span class="wikilink"><strong>B&uuml;rozeiten</strong></span></a>
    vorbei.</p>
<p class="vspace">&Uuml;ber kurzfristige Angebote Informieren wir euch in unserem <a
        href="index.php?option=com_content&amp;view=article&amp;id=41&amp;Itemid=182&amp;lang=de"><strong>Newsletter</strong></a>.
    Tragt euch einfach ein und ihr seit immer auf dem neusten Stand wenn es neue Angebote gibt.</p>
<p>&nbsp;</p>